---
title: asdf
---

This is an example article. You probably want to delete it and write your own articles!

  <% current_article.similar_articles %>


<a href='mailto:hello@example.com'>Link</a>

~~~ ruby
def my_cool_method(message)
  puts message
end
~~~

~~~sh

echo $cat

~~~
